{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bar.css'%}" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css"> -->
        <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css"> -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function(){
                $('#table').DataTable( {
                    paging: true,
                    searching: false,
                    select: true,
                    ordering:false,
                } );
            });
        </script>
    </head>
    <body> 
        <h2>{{player.name}} / {{player.dob}}</h2>
        <h3 style="margin:0px 70px;direction: rtl;">عملکرد بازیکن به تفکیک هر جلسه (مجموع <span style='color: #388F76'>{{total_time}}</span> ساعت)</h3>
        <div class="table-wrapper">
            <table id="table" class="fl-table table">
                <thead>
                    <tr>
                        <th>Forehand</th>
                        <th>Backhand</th>
                        <th>Serve</th>
                        <th>Volley</th>
                        <th>Movement</th>
                        <th>Listening</th>
                        <th \>Class Date</th>
                        <th>Class Duration</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records%}
                    <tr>
                        <td>{{record.forehand}}</td>
                        <td>{{record.backhand}}</td>
                        <td>{{record.serve}}</td>
                        <td>{{record.volley}}</td>
                        <td>{{record.movement}}</td>
                        <td>{{record.listening}}</td>
                        <td>{{record.class_date}}</td>
                        <td>{{record.class_duration}}</td>
                        <td class="note">{{record.note}}</td>
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
            </div>
            <h3 style="margin:0px 70px;direction: rtl;">میانگین بازیکن</h3>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Forehand</th>
                            <th>Backhand</th>
                            <th>Serve</th>
                            <th>Volley</th>
                            <th>Movement</th>
                            <th>Listening</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{p_avgs.forehand_avg}}</td>
                            <td>{{p_avgs.backhand_avg}}</td>
                            <td>{{p_avgs.serve_avg}}</td>
                            <td>{{p_avgs.volley_avg}}</td>
                            <td>{{p_avgs.movement_avg}}</td>
                            <td>{{p_avgs.listening_avg}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 style="margin:0px 70px; direction: rtl;">  میانگین کل از بین <span style='color: #388F76'>{{records_count}}</span> تمرین ثبت شده</h3>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Forehand</th>
                            <th>Backhand</th>
                            <th>Serve</th>
                            <th>Volley</th>
                            <th>Movement</th>
                            <th>Listening</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{avgs.forehand_avg}}</td>
                            <td>{{avgs.backhand_avg}}</td>
                            <td>{{avgs.serve_avg}}</td>
                            <td>{{avgs.volley_avg}}</td>
                            <td>{{avgs.movement_avg}}</td>
                            <td>{{avgs.listening_avg}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 style="margin:0px 70px;direction: rtl;">لینک های یادگیری مخصوص بازیکن</h3>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>Date Assigned</th>
                            <th>Note</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for media in medias%}
                        <tr>
                            <td><a style="font-size: 12px;" href={{media.url}} target="_blank">{{media.url}}</a></td>
                            <td style="font-size: 12px;">{{media.date}}</td>
                            <td style="font-size: 18px;">{{media.note}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h3 style="margin:0px 70px; direction: rtl;">نمودار پیشرفت بازیکن با شاخصه میانگین نمرات پویا</h3>
            <p style="margin: 4px 70px; direction: rtl;font-size: x-small;">*نمرات پویا شامل <span style='color: #388F76'>Movement</span> و <span style='color: #388F76'>Listening</span> می باشد.</p>
            <div class="chart-wrap vertical" style="margin:30px 90px">
                    <div class="grid">
                        {% for item in bar_datas %}
                            <div class="bar" style="--bar-value:{{item.data}}%;" data-name={{item.date}} title={{item.data}}></div>    
                        {% endfor %}
                    </div>
            </div>
    </body>
</html>