{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" />
    </head>
    <body> 
        <h2>{{player.name}} / {{player.dob}}</h2>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Forehand</th>
                    <th>Backhand</th>
                    <th>Serve</th>
                    <th>Volley</th>
                    <th>Movement</th>
                    <th>Listening</th>
                    <th>Class Date</th>
                    <th>Class Duration</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                {% for record in records%}
                <tr>
                    <td>{{record.forehand}}</td>
                    <td>{{record.backhand}}</td>
                    <td>{{record.serve}}</td>
                    <td>{{record.volley}}</td>
                    <td>{{record.movement}}</td>
                    <td>{{record.listening}}</td>
                    <td>{{record.class_date}}</td>
                    <td>{{record.class_duration}}</td>
                    <td class="note">{{record.note}}</td>
                </tr>
                {% endfor %}
                <tr class="avg-row-p">
                    <td>Player Avg</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{p_avgs.movement_avg}}</td>
                    <td>{{p_avgs.listening_avg}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="avg-row">
                    <td>Class Avg</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{avgs.movement_avg}}</td>
                    <td>{{avgs.listening_avg}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tbody>
            </table>
        </div>
    </body>
</html>