{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}" />
        <link rel="stylesheet" type="text/css" href="{% static 'bar.css'%}" />
    </head>
    <body> 
        <h2>{{player.name}} / {{player.dob}}</h2>
        <h3 style="margin:0px 70px;direction: rtl;">عملکرد بازیکن به تفکیک هر جلسه</h3>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                    <tr>
                        <th>Forehand</th>
                        <th>Backhand</th>
                        <th>Serve</th>
                        <th>Volley</th>
                        <th>Movement</th>
                        <th>Listening</th>
                        <th>Class Date</th>
                        <th>Class Duration</th>
                        <th>Note</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records%}
                    <tr>
                        <td>{{record.forehand}}</td>
                        <td>{{record.backhand}}</td>
                        <td>{{record.serve}}</td>
                        <td>{{record.volley}}</td>
                        <td>{{record.movement}}</td>
                        <td>{{record.listening}}</td>
                        <td>{{record.class_date}}</td>
                        <td>{{record.class_duration}}</td>
                        <td class="note">{{record.note}}</td>
                    </tr>
                    {% endfor %}
                <tbody>
            </table>
            </div>
            <h3 style="margin:0px 70px;direction: rtl;">میانگین بازیکن</h3>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Forehand</th>
                            <th>Backhand</th>
                            <th>Serve</th>
                            <th>Volley</th>
                            <th>Movement</th>
                            <th>Listening</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{p_avgs.forehand_avg}}</td>
                            <td>{{p_avgs.backhand_avg}}</td>
                            <td>{{p_avgs.serve_avg}}</td>
                            <td>{{p_avgs.volley_avg}}</td>
                            <td>{{p_avgs.movement_avg}}</td>
                            <td>{{p_avgs.listening_avg}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 style="margin:0px 70px; direction: rtl;">  میانگین کل از بین <span style='color: #388F76'>{{records_count}}</span> رکورد</h3>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>Forehand</th>
                            <th>Backhand</th>
                            <th>Serve</th>
                            <th>Volley</th>
                            <th>Movement</th>
                            <th>Listening</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{avgs.forehand_avg}}</td>
                            <td>{{avgs.backhand_avg}}</td>
                            <td>{{avgs.serve_avg}}</td>
                            <td>{{avgs.volley_avg}}</td>
                            <td>{{avgs.movement_avg}}</td>
                            <td>{{avgs.listening_avg}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 style="margin:0px 70px;direction: rtl;">لینک های یادگیری مخصوص بازیکن</h3>
            <div class="table-wrapper">
                <table class="fl-table">
                    <thead>
                        <tr>
                            <th>URL</th>
                            <th>note</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for media in medias%}
                        <tr>
                            <td><a style="font-size: 12px;" href={{media.url}} target="_blank">{{media.url}}</a></td>
                            <td style="font-size: 18px;">{{media.note}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h3 style="margin:0px 70px; direction: rtl;">نمودار پیشرفت بازیکن با شاخصه میانگین نمرات </h3>
            <div class="chart-wrap vertical" style="margin:30px 90px">
                    <div class="grid">
                        {% for item in bar_datas %}
                            <div class="bar" style="--bar-value:{{item.data}}%;" data-name={{item.date}} title={{item.data}}></div>    
                        {% endfor %}
                    </div>
            </div>
    </body>
</html>